In [24]:
import os
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
os.getcwd()

'/Users/cyriljeanneau/Documents/02. Professionnel/00. Formation Dev IA/Projets/10. Immo Octobre 2025/R-aliser-une-application-de-pr-vision-immobili-re/notebook'

In [26]:
filename = "communes-france-2025.csv"
file_path = os.path.join(os.getcwd(), "..", "data", filename)
df_ori = pd.read_csv(file_path, sep=",")
# On affiche les 5 premières lignes pour vérifier que tout s'est bien déroulé 
pd.set_option('display.max_columns', 50)
df_ori.head(5)

/var/folders/lm/5jb7d18d2_gfyv8y4w2tsg4r0000gn/T/ipykernel_2306/1533088161.py:3: DtypeWarning: Columns (1,12,14,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ori = pd.read_csv(file_path, sep=",")

,Unnamed: 0,code_insee,nom_standard,nom_sans_pronom,nom_a,nom_de,nom_sans_accent,nom_standard_majuscule,typecom,typecom_texte,reg_code,reg_nom,dep_code,dep_nom,canton_code,canton_nom,epci_code,epci_nom,academie_code,academie_nom,code_postal,codes_postaux,zone_emploi,code_insee_centre_zone_emploi,code_unite_urbaine,nom_unite_urbaine,taille_unite_urbaine,type_commune_unite_urbaine,statut_commune_unite_urbaine,population,superficie_hectare,superficie_km2,densite,altitude_moyenne,altitude_minimale,altitude_maximale,latitude_mairie,longitude_mairie,latitude_centre,longitude_centre,grille_densite,grille_densite_texte,niveau_equipements_services,niveau_equipements_services_texte,gentile,url_wikipedia,url_villedereve
0,0,01001,L'Abergement-Clémenciat,Abergement-Clémenciat,à Abergement-Clémenciat,de l'Abergement-Clémenciat,l-abergement-clemenciat,L'ABERGEMENT-CLÉMENCIAT,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0108,Châtillon-sur-Chalaronne,200069193,CC de la Dombes,10,Lyon,1400.0,01400,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,832,1565,16,53.0,242,206.0,272.0,46.151,4.921,46.153,4.926,6,Rural à habitat dispersé,0.0,communes non pôle,NaN,https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01001-l-abergemen...
1,1,01002,L'Abergement-de-Varey,Abergement-de-Varey,à Abergement-de-Varey,de l'Abergement-de-Varey,l-abergement-de-varey,L'ABERGEMENT-DE-VAREY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1640.0,01640,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,267,912,9,29.0,483,290.0,748.0,46.007,5.423,46.009,5.428,6,Rural à habitat dispersé,0.0,communes non pôle,"Abergementais, Abergementaises",https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01002-l-abergemen...
2,2,01004,Ambérieu-en-Bugey,Ambérieu-en-Bugey,à Ambérieu-en-Bugey,d'Ambérieu-en-Bugey,amberieu-en-bugey,AMBÉRIEU-EN-BUGEY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1500.0,"01500, 01501, 01504, 01503, 01502, 01505, 01506",8405.0,01053,01303,Ambérieu-en-Bugey,3.0,UNITE URBAINE,C,14854,2448,24,607.0,379,237.0,753.0,45.958,5.360,45.961,5.373,2,Centres urbains intermédiaires,3.0,centres structurants d'équipements et de services,"Ambarrois, Ambarroises",https://fr.wikipedia.org/wiki/fr:Ambérieu-en-B...,https://villedereve.fr/ville/01004-amberieu-en...
3,3,01005,Ambérieux-en-Dombes,Ambérieux-en-Dombes,à Ambérieux-en-Dombes,d'Ambérieux-en-Dombes,amberieux-en-dombes,AMBÉRIEUX-EN-DOMBES,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0122,Villars-les-Dombes,200042497,CC Dombes Saône Vallée,10,Lyon,1330.0,01330,8434.0,69264,01000,NaN,0.0,HORS UNITE URBAINE,H,1897,1605,16,118.0,290,265.0,302.0,45.996,4.903,45.996,4.912,5,Bourgs ruraux,1.0,centres locaux d'équipements et de services,Ambarrois,https://fr.wikipedia.org/wiki/fr:Ambérieux-en-...,https://villedereve.fr/ville/01005-amberieux-e...
4,4,01006,Ambléon,Ambléon,à Ambléon,d'Ambléon,ambleon,AMBLÉON,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0104,Belley,200040350,CC Bugey Sud,10,Lyon,1300.0,01300,8404.0,01034,01000,NaN,0.0,HORS UNITE URBAINE,H,113,602,6,19.0,589,330.0,940.0,45.748,5.601,45.750,5.594,6,Rural à habitat dispersé,0.0,communes non pôle,Ambléonais,https://fr.wikipedia.org/wiki/fr:Ambléon,https://villedereve.fr/ville/01006-ambleon

In [27]:
df_ori.head()

,Unnamed: 0,code_insee,nom_standard,nom_sans_pronom,nom_a,nom_de,nom_sans_accent,nom_standard_majuscule,typecom,typecom_texte,reg_code,reg_nom,dep_code,dep_nom,canton_code,canton_nom,epci_code,epci_nom,academie_code,academie_nom,code_postal,codes_postaux,zone_emploi,code_insee_centre_zone_emploi,code_unite_urbaine,nom_unite_urbaine,taille_unite_urbaine,type_commune_unite_urbaine,statut_commune_unite_urbaine,population,superficie_hectare,superficie_km2,densite,altitude_moyenne,altitude_minimale,altitude_maximale,latitude_mairie,longitude_mairie,latitude_centre,longitude_centre,grille_densite,grille_densite_texte,niveau_equipements_services,niveau_equipements_services_texte,gentile,url_wikipedia,url_villedereve
0,0,01001,L'Abergement-Clémenciat,Abergement-Clémenciat,à Abergement-Clémenciat,de l'Abergement-Clémenciat,l-abergement-clemenciat,L'ABERGEMENT-CLÉMENCIAT,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0108,Châtillon-sur-Chalaronne,200069193,CC de la Dombes,10,Lyon,1400.0,01400,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,832,1565,16,53.0,242,206.0,272.0,46.151,4.921,46.153,4.926,6,Rural à habitat dispersé,0.0,communes non pôle,NaN,https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01001-l-abergemen...
1,1,01002,L'Abergement-de-Varey,Abergement-de-Varey,à Abergement-de-Varey,de l'Abergement-de-Varey,l-abergement-de-varey,L'ABERGEMENT-DE-VAREY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1640.0,01640,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,267,912,9,29.0,483,290.0,748.0,46.007,5.423,46.009,5.428,6,Rural à habitat dispersé,0.0,communes non pôle,"Abergementais, Abergementaises",https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01002-l-abergemen...
2,2,01004,Ambérieu-en-Bugey,Ambérieu-en-Bugey,à Ambérieu-en-Bugey,d'Ambérieu-en-Bugey,amberieu-en-bugey,AMBÉRIEU-EN-BUGEY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1500.0,"01500, 01501, 01504, 01503, 01502, 01505, 01506",8405.0,01053,01303,Ambérieu-en-Bugey,3.0,UNITE URBAINE,C,14854,2448,24,607.0,379,237.0,753.0,45.958,5.360,45.961,5.373,2,Centres urbains intermédiaires,3.0,centres structurants d'équipements et de services,"Ambarrois, Ambarroises",https://fr.wikipedia.org/wiki/fr:Ambérieu-en-B...,https://villedereve.fr/ville/01004-amberieu-en...
3,3,01005,Ambérieux-en-Dombes,Ambérieux-en-Dombes,à Ambérieux-en-Dombes,d'Ambérieux-en-Dombes,amberieux-en-dombes,AMBÉRIEUX-EN-DOMBES,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0122,Villars-les-Dombes,200042497,CC Dombes Saône Vallée,10,Lyon,1330.0,01330,8434.0,69264,01000,NaN,0.0,HORS UNITE URBAINE,H,1897,1605,16,118.0,290,265.0,302.0,45.996,4.903,45.996,4.912,5,Bourgs ruraux,1.0,centres locaux d'équipements et de services,Ambarrois,https://fr.wikipedia.org/wiki/fr:Ambérieux-en-...,https://villedereve.fr/ville/01005-amberieux-e...
4,4,01006,Ambléon,Ambléon,à Ambléon,d'Ambléon,ambleon,AMBLÉON,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0104,Belley,200040350,CC Bugey Sud,10,Lyon,1300.0,01300,8404.0,01034,01000,NaN,0.0,HORS UNITE URBAINE,H,113,602,6,19.0,589,330.0,940.0,45.748,5.601,45.750,5.594,6,Rural à habitat dispersé,0.0,communes non pôle,Ambléonais,https://fr.wikipedia.org/wiki/fr:Ambléon,https://villedereve.fr/ville/01006-ambleon

In [28]:
col_to_keep = [
'code_insee',
'nom_standard',
'population',
'superficie_km2',
'densite',
'niveau_equipements_services',
'latitude_centre',
'longitude_centre',
'altitude_moyenne'
]
df = df_ori[col_to_keep]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34935 entries, 0 to 34934
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code_insee                   34935 non-null  object
 1   nom_standard                 34935 non-null  object
 2   population                   34935 non-null  int64
 3   superficie_km2               34935 non-null  int64
 4   densite                      34932 non-null  float64
 5   niveau_equipements_services  34803 non-null  float64
 6   latitude_centre              34926 non-null  float64
 7   longitude_centre             34926 non-null  float64
 8   altitude_moyenne             34935 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.4+ MB

In [30]:
# On a des densites naN qu'il va falloir recalculer
# On a des niveau_equipements_services à nAN qu'il va falloir egalement traiter. Comment ?
df[df['densite'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
23101,60694,Les Hauts-Talican,0,5,NaN,NaN,NaN,NaN,214
32700,85165,L'Oie,0,14,NaN,NaN,NaN,NaN,85
32739,85212,Sainte-Florence,0,17,NaN,NaN,NaN,NaN,92

In [31]:
df[df['population'] == 0]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
20032,55039,Beaumont-en-Verdunois,0,8,0.0,0.0,49.262,5.410,308
20043,55050,Bezonvaux,0,9,0.0,0.0,49.232,5.472,283
20118,55139,Cumières-le-Mort-Homme,0,6,0.0,0.0,49.234,5.268,228
20161,55189,Fleury-devant-Douaumont,0,10,0.0,0.0,49.194,5.433,323
20198,55239,Haumont-près-Samogneux,0,11,0.0,0.0,49.276,5.369,286
20257,55307,Louvemont-Côte-du-Poivre,0,8,0.0,0.0,49.241,5.402,291
23101,60694,Les Hauts-Talican,0,5,NaN,NaN,NaN,NaN,214
32700,85165,L'Oie,0,14,NaN,NaN,NaN,NaN,85
32739,85212,Sainte-Florence,0,17,NaN,NaN,NaN,NaN,92

In [32]:
print(len(df))
# On ne garde que les lignes où population != 0
df = df[df['population'] != 0]
print(len(df))

34935
34926

In [33]:
df['niveau_equipements_services'].unique()

array([ 0.,  3.,  1.,  2.,  4., nan])

In [34]:
pd.set_option('display.max_rows', 10)
# On traite les niveau_equipements_services :
df[df['niveau_equipements_services'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
34806,97101,Les Abymes,52118,70,744.0,NaN,16.273,-61.502,25
34807,97102,Anse-Bertrand,4052,64,63.0,NaN,16.466,-61.462,32
34808,97103,Baie-Mahault,30909,47,664.0,NaN,16.251,-61.593,18
34809,97104,Baillif,5035,24,208.0,NaN,16.046,-61.719,442
34810,97105,Basse-Terre,9779,4,2207.0,NaN,16.000,-61.728,57
...,...,...,...,...,...,...,...,...,...
34930,97613,M'Tsangamouji,6432,22,298.0,NaN,-12.751,45.087,96
34931,97614,Ouangani,10203,18,558.0,NaN,-12.837,45.138,175
34932,97615,Pamandzi,11442,4,2686.0,NaN,-12.796,45.284,52
34933,97616,Sada,11156,11,1028.0,NaN,-12.861,45.119,130
34934,97617,Tsingoni,13934,34,407.0,NaN,-12.782,45.134,147

In [35]:
df.loc[df['niveau_equipements_services'].isna(), 'niveau_equipements_services'] = 2.0

In [36]:
df[df['niveau_equipements_services'].isna()]

Empty DataFrame
Columns: [code_insee, nom_standard, population, superficie_km2, densite, niveau_equipements_services, latitude_centre, longitude_centre, altitude_moyenne]
Index: []

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
df.head()

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
0,01001,L'Abergement-Clémenciat,832,16,53.0,0.0,46.153,4.926,242
1,01002,L'Abergement-de-Varey,267,9,29.0,0.0,46.009,5.428,483
2,01004,Ambérieu-en-Bugey,14854,24,607.0,3.0,45.961,5.373,379
3,01005,Ambérieux-en-Dombes,1897,16,118.0,1.0,45.996,4.912,290
4,01006,Ambléon,113,6,19.0,0.0,45.750,5.594,589

In [39]:
df[df['latitude_centre'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
4342,13055,Marseille,873076,241,3629.0,4.0,NaN,NaN,20
20117,55138,Culey,125,11,11.0,0.0,NaN,NaN,299
27082,69123,Lyon,522250,48,10903.0,4.0,NaN,NaN,237
29244,75056,Paris,2133111,105,20238.0,4.0,NaN,NaN,35
29328,76095,Bihorel,8199,3,3271.0,2.0,NaN,NaN,119
29810,76601,Saint-Lucien,233,9,26.0,0.0,NaN,NaN,100

In [40]:
df[df['nom_standard'] == 'Marseille']

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
4342,13055,Marseille,873076,241,3629.0,4.0,NaN,NaN,20

In [41]:
df.loc[df['nom_standard'] == 'Marseille', ['latitude_centre', 'longitude_centre']]  = [43.2965, 5.3698]
df.loc[df['nom_standard'] == 'Culey', ['latitude_centre', 'longitude_centre']]  = [48.75, 5.2669]
df.loc[df['nom_standard'] == 'Lyon', ['latitude_centre', 'longitude_centre']]  = [45.76, 4.8320]
df.loc[df['nom_standard'] == 'Paris', ['latitude_centre', 'longitude_centre']]  = [48.85, 2.3484]
df.loc[df['nom_standard'] == 'Bihorel', ['latitude_centre', 'longitude_centre']]  = [49.45, 1.1160]
df.loc[df['nom_standard'] == 'Saint-Lucien', ['latitude_centre', 'longitude_centre']]  = [48.65, 1.6231]

print(df[df['nom_standard'] == 'Marseille'])
print(df[df['nom_standard'] == 'Culey'])
print(df[df['nom_standard'] == 'Lyon'])
print(df[df['nom_standard'] == 'Paris'])
print(df[df['nom_standard'] == 'Bihorel'])
print(df[df['nom_standard'] == 'Saint-Lucien'])

     code_insee nom_standard  population  superficie_km2  densite  \
4342      13055    Marseille      873076             241   3629.0

      niveau_equipements_services  latitude_centre  longitude_centre  \
4342                          4.0          43.2965            5.3698

      altitude_moyenne
4342                20
      code_insee nom_standard  population  superficie_km2  densite  \
20117      55138        Culey         125              11     11.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
20117                          0.0            48.75            5.2669

       altitude_moyenne
20117               299
      code_insee nom_standard  population  superficie_km2  densite  \
27082      69123         Lyon      522250              48  10903.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
27082                          4.0            45.76             4.832

       altitude_moyenne
27082               237
      code_insee nom_standard  population  superficie_km2  densite  \
29244      75056        Paris     2133111             105  20238.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
29244                          4.0            48.85            2.3484

       altitude_moyenne
29244                35
      code_insee nom_standard  population  superficie_km2  densite  \
29328      76095      Bihorel        8199               3   3271.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
29328                          2.0            49.45             1.116

       altitude_moyenne
29328               119
      code_insee  nom_standard  population  superficie_km2  densite  \
10191      28349  Saint-Lucien         262               9     30.0
29810      76601  Saint-Lucien         233               9     26.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
10191                          0.0            48.65            1.6231
29810                          0.0            48.65            1.6231

       altitude_moyenne
10191               136
29810               100

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34926 entries, 0 to 34934
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code_insee                   34926 non-null  object
 1   nom_standard                 34926 non-null  object
 2   population                   34926 non-null  int64
 3   superficie_km2               34926 non-null  int64
 4   densite                      34926 non-null  float64
 5   niveau_equipements_services  34926 non-null  float64
 6   latitude_centre              34926 non-null  float64
 7   longitude_centre             34926 non-null  float64
 8   altitude_moyenne             34926 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.7+ MB

In [49]:
rows = df[df['nom_standard']=='Paris']
print(rows)
for i in range(75101, 75120):
    rows['code_insee'] = str(i)
    df = pd.concat([df, rows], ignore_index=True)

#df = pd.concat([df, rows], ignore_index=True)

df[df['nom_standard']=='Paris']

      code_insee nom_standard  population  superficie_km2  densite  \
29237      75056        Paris     2133111             105  20238.0

       niveau_equipements_services  latitude_centre  longitude_centre  \
29237                          4.0            48.85            2.3484

       altitude_moyenne
29237                35

/var/folders/lm/5jb7d18d2_gfyv8y4w2tsg4r0000gn/T/ipykernel_2306/2966710153.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows['code_insee'] = str(i)

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
29237,75056,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34926,75101,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34927,75102,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34928,75103,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34929,75104,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
...,...,...,...,...,...,...,...,...,...
34940,75115,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34941,75116,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34942,75117,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34943,75118,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35
34944,75119,Paris,2133111,105,20238.0,4.0,48.85,2.3484,35

### API recup donnees communes manquantes

In [ ]:
import requests

def get_commune_info(name_or_code):
    """
    Récupère la latitude, longitude et densité (hab/km²) d'une commune
    à partir de son nom (str) ou de son code INSEE (int).
    Utilise l'API Découpage administratif (geo.api.gouv.fr) pour les données.
    """
    try:
        # Préparer la requête selon le type d'entrée
        if isinstance(name_or_code, str):
            # Recherche par nom de commune (première correspondance)
            params = {
                'nom': name_or_code,
                'fields': 'code,centre,surface,population',
                'limit': 1
            }
            res = requests.get("https://geo.api.gouv.fr/communes", params=params, timeout=10)
            res.raise_for_status()
            communes = res.json()
            if not communes:
                print(f"Commune '{name_or_code}' non trouvée.")
                return {}
            data = communes[0]
            nom = name_or_code
            code = data.get("code")
        else:
            # Recherche par code INSEE (format 5 chiffres)
            code = f"{name_or_code:05d}"
            res = requests.get(f"https://geo.api.gouv.fr/communes/{code}",
                               params={'fields': 'nom,centre,surface,population'}, timeout=10)
            res.raise_for_status()
            data = res.json()
            nom = data.get("nom")
        # Extraire les informations utiles
        
        centre = data.get("centre")
        if not centre or "coordinates" not in centre:
            print("Coordonnées non disponibles pour la commune.")
            return {}
        
        lon, lat = centre["coordinates"]
        surface = data.get("surface")
        population = data.get("population")
        # Calcul de la densité (habitants par km²)
        densite = None
        if surface and population is not None:
            densite = population / surface
        
        return {"nom": nom, "": code, "latitude": lat, "longitude": lon, "surface": surface, "population": population, "densite": densite}

    except requests.RequestException as e:
        print(f"Erreur réseau ou API : {e}")
        return {}

In [ ]:
import time
del df_test
df_test = pd.DataFrame()
#row = df[df['code_insee']==75056]
for code in range(75101, 75121):
    #row = df[df['code_insee']==75056]
    data = get_commune_info(code)
    if data:
        row = pd.DataFrame([{
        "code_insee": data.get("code INSEE"),
        "nom_standard": data.get("nom"),
        "population": data.get("population"),
        "superficie_km2": data.get("surface"),
        "densite":data.get("densite"),
        "latitude_centre": data.get("latitude"),
        "longitude_centre": data.get("longitude"),
        "altitude_moyenne": df.loc[df['code_insee']==75056, 'altitude_moyenne'].iloc[0],
        "niveau_equipements_services": df.loc[df['code_insee']==75056, 'niveau_equipements_services'].iloc[0]
        }])
        #print(row)
        df_test = pd.concat([df, rows], ignore_index=True)
    time.sleep(0.2)  # petite pause pour éviter de spammer l'API
print(df_test)

  code_insee              nom_standard  population  superficie_km2    densite  \
0      75101  Paris 1er Arrondissement       15475          182.73  84.687791

   latitude_centre  longitude_centre  altitude_moyenne  \
0           48.862            2.3359                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75102  Paris 2e Arrondissement       20433           99.16  206.060912

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8677            2.3411                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75103  Paris 3e Arrondissement       32772          116.95  280.222317

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8626            2.3593                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75104  Paris 4e Arrondissement       28039          159.51  175.782083

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8541            2.3569                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75105  Paris 5e Arrondissement       55925          254.14  220.055875

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8454            2.3514                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75106  Paris 6e Arrondissement       40432          215.09  187.977126

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8495            2.3307                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75107  Paris 7e Arrondissement       48196           408.5  117.982864

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8548            2.3115                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2    densite  \
0      75108  Paris 8e Arrondissement       35418           387.8  91.330583

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8732            2.3111                35

   niveau_equipements_services
0                          4.0
  code_insee             nom_standard  population  superficie_km2     densite  \
0      75109  Paris 9e Arrondissement       58419          217.78  268.247773

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8771            2.3379                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75110  Paris 10e Arrondissement       81926           288.8

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  283.677285           48.876            2.3624                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75111  Paris 11e Arrondissement      139983          364.82

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  383.704293          48.8601            2.3816                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2    densite  \
0      75112  Paris 12e Arrondissement      139788         1637.05  85.390184

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8342            2.4173                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75113  Paris 13e Arrondissement      177735          713.37

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  249.148408          48.8303            2.3656                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2    densite  \
0      75114  Paris 14e Arrondissement      137581          560.97  245.25554

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8297             2.323                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2   densite  \
0      75115  Paris 15e Arrondissement      228754          846.64  270.1904

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8417            2.2937                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2   densite  \
0      75116  Paris 16e Arrondissement      159733         1639.85  97.40708

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8572             2.263                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75117  Paris 17e Arrondissement      161206          566.11

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  284.760912          48.8874             2.305                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75118  Paris 18e Arrondissement      185825          599.13

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  310.158063          48.8919            2.3487                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2  \
0      75119  Paris 19e Arrondissement      178371          677.99

      densite  latitude_centre  longitude_centre  altitude_moyenne  \
0  263.087951          48.8871            2.3878                35

   niveau_equipements_services
0                          4.0
  code_insee              nom_standard  population  superficie_km2    densite  \
0      75120  Paris 20e Arrondissement      187694          599.65  313.00592

   latitude_centre  longitude_centre  altitude_moyenne  \
0          48.8625            2.3966                35

   niveau_equipements_services
0                          4.0
      code_insee             nom_standard  population  superficie_km2  \
0          01001  L'Abergement-Clémenciat         832              16
1          01002    L'Abergement-de-Varey         267               9
2          01004        Ambérieu-en-Bugey       14854              24
3          01005      Ambérieux-en-Dombes        1897              16
4          01006                  Ambléon         113               6
...          ...                      ...         ...             ...
37360      75115                    Paris     2133111             105
37361      75116                    Paris     2133111             105
37362      75117                    Paris     2133111             105
37363      75118                    Paris     2133111             105
37364      75119                    Paris     2133111             105

       densite  niveau_equipements_services  latitude_centre  \
0         53.0                          0.0           46.153
1         29.0                          0.0           46.009
2        607.0                          3.0           45.961
3        118.0                          1.0           45.996
4         19.0                          0.0           45.750
...        ...                          ...              ...
37360  20238.0                          4.0           48.850
37361  20238.0                          4.0           48.850
37362  20238.0                          4.0           48.850
37363  20238.0                          4.0           48.850
37364  20238.0                          4.0           48.850

       longitude_centre  altitude_moyenne
0                4.9260               242
1                5.4280               483
2                5.3730               379
3                4.9120               290
4                5.5940               589
...                 ...               ...
37360            2.3484                35
37361            2.3484                35
37362            2.3484                35
37363            2.3484                35
37364            2.3484                35

[37365 rows x 9 columns]

In [77]:
df[df['code_insee']=='75101'].count()

code_insee                     81
nom_standard                   81
population                     81
superficie_km2                 81
densite                        81
niveau_equipements_services    81
latitude_centre                81
longitude_centre               81
altitude_moyenne               81
dtype: int64

In [84]:
int = df.loc[df['code_insee']==75056, 'altitude_moyenne'].iloc[0]
print(int)

35