In [15]:
import os
import glob 
import pandas as pd

In [16]:
pattern = os.path.join('..', 'data', 'prepared', '*.csv')
print(pattern)
files = glob.glob(pattern)
print(files)

../data/prepared/*.csv
['../data/prepared/communes-france-2025.csv', '../data/prepared/ValeursFoncieres-2025-S1.csv']

In [17]:
df = pd.read_csv(files[1], sep=';')
df.head()

,id_transaction,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,0,2025-01-01 00:00:00,Vente,30000,13.0,NaN,GR,0005,LA GRANDE RUE,55140.0,...,55,474,NaN,AA,320,1,Maison,79,3,603
1,1,2025-01-01 00:00:00,Vente,77800,336.0,NaN,RUE,0065,DE LA HAUTE LANDE,40120.0,...,40,245,NaN,AR,44,1,Maison,97,5,789
2,3,2025-01-02 00:00:00,Vente,20000,7.0,NaN,NaN,B173,PONS,19290.0,...,19,261,NaN,E,534,1,Maison,64,4,507
3,4,2025-01-02 00:00:00,Vente,20000,15.0,NaN,RUE,0090,ODE AN DENVED,29233.0,...,29,30,NaN,AH,25,1,Maison,28,1,114
4,5,2025-01-02 00:00:00,Vente,20000,26.0,NaN,BD,1805,DE LA GOBLECHERE,79300.0,...,79,49,NaN,AP,183,1,Maison,24,1,193

In [18]:
df2 = pd.read_csv(files[0], sep=';')
df2.head()

,code_insee,nom_standard,population,superficie_km2,densite,altitude_moyenne,latitude_centre,longitude_centre,niveau_equipements_services
0,01001,L'Abergement-Clémenciat,832,16,53.0,242,46.153,4.926,0.0
1,01002,L'Abergement-de-Varey,267,9,29.0,483,46.009,5.428,0.0
2,01004,Ambérieu-en-Bugey,14854,24,607.0,379,45.961,5.373,3.0
3,01005,Ambérieux-en-Dombes,1897,16,118.0,290,45.996,4.912,1.0
4,01006,Ambléon,113,6,19.0,589,45.750,5.594,0.0

In [19]:
df2[df2['latitude_centre'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,altitude_moyenne,latitude_centre,longitude_centre,niveau_equipements_services
4342,13055,Marseille,873076,241,3629.0,20,NaN,NaN,4.0
20117,55138,Culey,125,11,11.0,299,NaN,NaN,0.0
23101,60694,Les Hauts-Talican,0,5,0.0,214,NaN,NaN,2.0
27082,69123,Lyon,522250,48,10903.0,237,NaN,NaN,4.0
29244,75056,Paris,2133111,105,20238.0,35,NaN,NaN,4.0
29328,76095,Bihorel,8199,3,3271.0,119,NaN,NaN,2.0
29810,76601,Saint-Lucien,233,9,26.0,100,NaN,NaN,0.0
32700,85165,L'Oie,0,14,0.0,85,NaN,NaN,2.0
32739,85212,Sainte-Florence,0,17,0.0,92,NaN,NaN,2.0

In [20]:
df2.loc[df2['latitude_centre'].isna(), 'latitude_centre'] = 0.0
df2.loc[df2['longitude_centre'].isna(), 'longitude_centre'] = 0.0

df2[df2['longitude_centre'].isna()]

Empty DataFrame
Columns: [code_insee, nom_standard, population, superficie_km2, densite, altitude_moyenne, latitude_centre, longitude_centre, niveau_equipements_services]
Index: []

In [21]:
# On cree la colonne 'code insee'
def safe_int_conversion(x):
    try:
        return int(x)
    except (ValueError, TypeError):
        return None

def compute_code_insee(row):
    code_dept = safe_int_conversion(row['Code departement'])
    code_commune = safe_int_conversion(row['Code commune'])
    if code_dept is not None and code_commune is not None:
        return str((code_dept * 1000) + code_commune).zfill(5)
    return '00000'

df['Code insee'] = df.apply(compute_code_insee, axis=1)

In [22]:
#df.drop(columns=['code insee'], inplace=True)
df.head()

,id_transaction,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,Code insee
0,0,2025-01-01 00:00:00,Vente,30000,13.0,NaN,GR,0005,LA GRANDE RUE,55140.0,...,474,NaN,AA,320,1,Maison,79,3,603,55474
1,1,2025-01-01 00:00:00,Vente,77800,336.0,NaN,RUE,0065,DE LA HAUTE LANDE,40120.0,...,245,NaN,AR,44,1,Maison,97,5,789,40245
2,3,2025-01-02 00:00:00,Vente,20000,7.0,NaN,NaN,B173,PONS,19290.0,...,261,NaN,E,534,1,Maison,64,4,507,19261
3,4,2025-01-02 00:00:00,Vente,20000,15.0,NaN,RUE,0090,ODE AN DENVED,29233.0,...,30,NaN,AH,25,1,Maison,28,1,114,29030
4,5,2025-01-02 00:00:00,Vente,20000,26.0,NaN,BD,1805,DE LA GOBLECHERE,79300.0,...,49,NaN,AP,183,1,Maison,24,1,193,79049

In [23]:
df_data = pd.DataFrame()
cols_to_keep = [
    'Valeur fonciere',
    'Surface reelle bati', 
    'Nombre pieces principales', 
    'Surface terrain', 
    'Code insee'
]
df_data = df[cols_to_keep]
df_data.head()

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Surface terrain,Code insee
0,30000,79,3,603,55474
1,77800,97,5,789,40245
2,20000,64,4,507,19261
3,20000,28,1,114,29030
4,20000,24,1,193,79049

In [24]:
df2_data = pd.DataFrame()
col_to_keep = [
    'code_insee',
    'population',
    'superficie_km2',
    'densite',
    'niveau_equipements_services',
    'latitude_centre',
    'longitude_centre',
    'altitude_moyenne'
]
df2_data = df2[col_to_keep]
#df2_data.loc[:, 'code_insee'] = pd.to_numeric(df2_data['code_insee'], errors='coerce').astype('Int64')
df2_data.head()

,code_insee,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
0,01001,832,16,53.0,0.0,46.153,4.926,242
1,01002,267,9,29.0,0.0,46.009,5.428,483
2,01004,14854,24,607.0,3.0,45.961,5.373,379
3,01005,1897,16,118.0,1.0,45.996,4.912,290
4,01006,113,6,19.0,0.0,45.750,5.594,589

In [25]:
df_merged = pd.merge(df_data, df2_data, left_on='Code insee', right_on='code_insee')
df_merged.head()

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Surface terrain,Code insee,code_insee,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
0,30000,79,3,603,55474,55474,224,17,13.0,0.0,48.502,5.736,333
1,77800,97,5,789,40245,40245,1957,12,163.0,2.0,44.037,-0.327,76
2,20000,64,4,507,19261,19261,764,59,13.0,1.0,45.669,2.180,760
3,20000,28,1,114,29030,29030,3594,38,96.0,2.0,48.660,-4.124,39
4,20000,24,1,193,79049,79049,19906,182,109.0,3.0,46.855,-0.479,175

In [26]:
df_merged.drop(columns=['Code insee', 'code_insee'], inplace=True)
df_merged.head()

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Surface terrain,population,superficie_km2,densite,niveau_equipements_services,latitude_centre,longitude_centre,altitude_moyenne
0,30000,79,3,603,224,17,13.0,0.0,48.502,5.736,333
1,77800,97,5,789,1957,12,163.0,2.0,44.037,-0.327,76
2,20000,64,4,507,764,59,13.0,1.0,45.669,2.180,760
3,20000,28,1,114,3594,38,96.0,2.0,48.660,-4.124,39
4,20000,24,1,193,19906,182,109.0,3.0,46.855,-0.479,175

In [27]:
df_merged.dtypes

Valeur fonciere                  int64
Surface reelle bati              int64
Nombre pieces principales        int64
Surface terrain                  int64
population                       int64
superficie_km2                   int64
densite                        float64
niveau_equipements_services    float64
latitude_centre                float64
longitude_centre               float64
altitude_moyenne                 int64
dtype: object

Avant ajout coordonnees : RndomForestRegressor : R2=0,23
Apres ajout coordonnees : RndomForestRegressor : R2=0,2459
Apres modif lat et lon with Nan to 0 : R2 = 0.2473

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor


y = df_merged['Valeur fonciere']
X = df_merged.drop(columns=['Valeur fonciere'])

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
preds = model.predict(X_valid)

mae = mean_absolute_error(y_valid, preds)
print(f"MAE = {mae:.0f} €")
mse = mean_squared_error(y_valid, preds)
print(f"MSE = {mse:.0f} €")
r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

KeyboardInterrupt:

Avant ajout coordonnees : LinearRegression : R2=0,0387
Apres ajout coordonnees : LinearRegression : error
Apres modif lat et lon with Nan to 0 : R2 = 0,0396

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
preds = model.predict(X_valid)

mae = mean_absolute_error(y_valid, preds)
print(f"MAE = {mae:.0f} €")
mse = mean_squared_error(y_valid, preds)
print(f"MSE = {mse:.0f} €")
r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

Avant ajout coordonnees : DecisionTreeRegressor : R2=-0,2556
Apres ajout coordonnees : DecisionTreeRegressor : R2=-0,4968
Apres modif lat et lon with Nan to 0 : R2 = -0,5040

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)
preds = model.predict(X_valid)

mae = mean_absolute_error(y_valid, preds)
print(f"MAE = {mae:.0f} €")
mse = mean_squared_error(y_valid, preds)
print(f"MSE = {mse:.0f} €")
r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

Avant ajout coordonnees : GradientBoostingRegressor : R2=0,3139
Apres ajout coordonnees : GradientBoostingRegressor : error
Apres modif lat et lon with Nan to 0 : R2 = 0,3481

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)
preds = model.predict(X_valid)

mae = mean_absolute_error(y_valid, preds)
print(f"MAE = {mae:.0f} €")
mse = mean_squared_error(y_valid, preds)
print(f"MSE = {mse:.0f} €")
r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

Avant ajout coordonnees : HistGradientBoostingRegressor : R2=0,1877
Apres ajout coordonnees : HistGradientBoostingRegressor : R2=0,2308
Apres modif lat et lon with Nan to 0 : R2 = 0,2349

In [ ]:
from sklearn.ensemble import HistGradientBoostingRegressor
model = HistGradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)
preds = model.predict(X_valid)

r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

Avant ajout coordonnees : GradientBoostingRegressor : R2=0,3139
Apres ajout coordonnees : GradientBoostingRegressor : error
Apres modif lat et lon with Nan to 0 : R2 = 0,3481

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import GradientBoostingRegressor

y = df_merged['Valeur fonciere']
X = df_merged.drop(columns=['Valeur fonciere'])

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)
preds = model.predict(X_valid)

r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

In [ ]:
# Maintenant je vais mettre tout ceci dans une pipeline

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

y = df_merged['Valeur fonciere']
X = df_merged.drop(columns=['Valeur fonciere'])

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', GradientBoostingRegressor(random_state=42))
])

pipeline.fit(X_train, y_train)
preds = pipeline.predict(X_valid)

r2 = r2_score(y_valid, preds)
print(f"R2 = {r2:.4f}")

In [ ]:
# Pour visualiser les données après mise à l'échelle :

scaler = pipeline.named_steps['scaler']

# transforme X_train numérique (assurez-vous que X_train contient uniquement les colonnes numériques)
X_train_scaled = scaler.transform(X_train)
X_valid_scaled = scaler.transform(X_valid)

# reconstruire un DataFrame (facile à inspecter)
import pandas as pd
X_train_scaled_df = pd.DataFrame(X_train_scaled, index=X_train.index)
X_valid_scaled_df = pd.DataFrame(X_valid_scaled, index=X_valid.index)

#X_train.head() 
X_train_scaled_df.head()
#X_train_scaled_df.describe() # moyennes ~0, std ~1

In [ ]:
# On integre de la cross validation pour tester sur plusieurs jeu train/valid
from sklearn.model_selection import cross_val_score

# Évaluer avec 5 découpages différents
scores = cross_val_score(pipeline, X, y, cv=5, scoring='r2')

print(f"R2 moyen = {scores.mean():.4f} (+/- {scores.std():.4f})")
print(f"Scores par fold : {scores}")

In [ ]:
# Recherche des meilleurs modèles

from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

# Dictionnaire des modèles à tester
models = {
    #'Ridge': Ridge(),
    #'Lasso': Lasso(),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42),
    'XGBoost' : XGBRegressor()   
}

# Tester chaque modèle
results = {}
for name, model in models.items():
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('model', model)
    ])
    scores = cross_val_score(pipeline, X, y, cv=5, scoring='r2')
    results[name] = scores.mean()
    print(f"{name:20s} : R2 = {scores.mean():.4f} (+/- {scores.std():.4f})")

# Meilleur modèle
best_model = max(results, key=results.get)
print(f"\n🏆 Meilleur modèle : {best_model}")

In [ ]:
# Recherche des meilleurs hyperparamètres avec GridSearchCV

from sklearn.model_selection import GridSearchCV

# Définir la pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', GradientBoostingRegressor(random_state=42))
])

# Grille de paramètres à tester
param_grid = {
    'model__n_estimators': [50, 100, 200],          # Nombre d'arbres
    'model__learning_rate': [0.01, 0.1, 0.2],       # Taux d'apprentissage
    'model__max_depth': [3, 5, 7]                   # Profondeur des arbres
}

# Recherche des meilleurs paramètres (attention : peut être long !)
grid_search = GridSearchCV(
    pipeline, 
    param_grid, 
    cv=5,                    # 5-fold cross-validation
    scoring='r2',
    verbose=1,               # Affiche la progression
    n_jobs=-1                # Utilise tous les CPU
)

grid_search.fit(X_train, y_train)

# Afficher les résultats
print(f"Meilleurs paramètres : {grid_search.best_params_}")
print(f"Meilleur score R2 : {grid_search.best_score_:.4f}")

# Tester sur les données de validation
best_model = grid_search.best_estimator_
preds = best_model.predict(X_valid)
r2_valid = r2_score(y_valid, preds)
print(f"R2 sur validation : {r2_valid:.4f}")

Avant ajout coordonnees :
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Meilleurs paramètres : {'model__learning_rate': 0.1, 'model__max_depth': 3, 'model__n_estimators': 50}
Meilleur score R2 : 0.1784
R2 sur validation : 0.1861

Apres ajout coordonnees :
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Meilleurs paramètres : {'model__learning_rate': 0.1, 'model__max_depth': 3, 'model__n_estimators': 100}
Meilleur score R2 : 0.2147
R2 sur validation : 0.2168

Apres mofid lat et lon :

In [ ]:
# Recherche des meilleurs hyperparamètres avec GridSearchCV

from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

# Définir la pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', XGBRegressor(random_state=42))
])

# Grille de paramètres à tester
param_grid = {
    'model__n_estimators': [50, 100, 200],          # Nombre d'arbres
    'model__learning_rate': [0.01, 0.1, 0.2],       # Taux d'apprentissage
    'model__max_depth': [3, 5, 7]                   # Profondeur des arbres
}

# Recherche des meilleurs paramètres (attention : peut être long !)
grid_search = GridSearchCV(
    pipeline, 
    param_grid, 
    cv=5,                    # 5-fold cross-validation
    scoring='r2',
    verbose=1,               # Affiche la progression
    n_jobs=-1                # Utilise tous les CPU
)

grid_search.fit(X_train, y_train)

# Afficher les résultats
print(f"Meilleurs paramètres : {grid_search.best_params_}")
print(f"Meilleur score R2 : {grid_search.best_score_:.4f}")

# Tester sur les données de validation
best_model = grid_search.best_estimator_
preds = best_model.predict(X_valid)
r2_valid = r2_score(y_valid, preds)
print(f"R2 sur validation : {r2_valid:.4f}")

In [ ]:
X_train.head()