In [1]:
import os
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/Users/cyriljeanneau/Documents/02. Professionnel/00. Formation Dev IA/Projets/10. Immo Octobre 2025/R-aliser-une-application-de-pr-vision-immobili-re/notebook'

In [3]:
filename = "communes-france-2025.csv"
file_path = os.path.join(os.getcwd(), "..", "data", filename)
df_ori = pd.read_csv(file_path, sep=",")
# On affiche les 5 premières lignes pour vérifier que tout s'est bien déroulé 
pd.set_option('display.max_columns', 50)
df_ori.head(5)

/var/folders/lm/5jb7d18d2_gfyv8y4w2tsg4r0000gn/T/ipykernel_22158/1533088161.py:3: DtypeWarning: Columns (1,12,14,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ori = pd.read_csv(file_path, sep=",")

,Unnamed: 0,code_insee,nom_standard,nom_sans_pronom,nom_a,nom_de,nom_sans_accent,nom_standard_majuscule,typecom,typecom_texte,reg_code,reg_nom,dep_code,dep_nom,canton_code,canton_nom,epci_code,epci_nom,academie_code,academie_nom,code_postal,codes_postaux,zone_emploi,code_insee_centre_zone_emploi,code_unite_urbaine,nom_unite_urbaine,taille_unite_urbaine,type_commune_unite_urbaine,statut_commune_unite_urbaine,population,superficie_hectare,superficie_km2,densite,altitude_moyenne,altitude_minimale,altitude_maximale,latitude_mairie,longitude_mairie,latitude_centre,longitude_centre,grille_densite,grille_densite_texte,niveau_equipements_services,niveau_equipements_services_texte,gentile,url_wikipedia,url_villedereve
0,0,01001,L'Abergement-Clémenciat,Abergement-Clémenciat,à Abergement-Clémenciat,de l'Abergement-Clémenciat,l-abergement-clemenciat,L'ABERGEMENT-CLÉMENCIAT,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0108,Châtillon-sur-Chalaronne,200069193,CC de la Dombes,10,Lyon,1400.0,01400,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,832,1565,16,53.0,242,206.0,272.0,46.151,4.921,46.153,4.926,6,Rural à habitat dispersé,0.0,communes non pôle,NaN,https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01001-l-abergemen...
1,1,01002,L'Abergement-de-Varey,Abergement-de-Varey,à Abergement-de-Varey,de l'Abergement-de-Varey,l-abergement-de-varey,L'ABERGEMENT-DE-VAREY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1640.0,01640,8405.0,01053,01000,NaN,0.0,HORS UNITE URBAINE,H,267,912,9,29.0,483,290.0,748.0,46.007,5.423,46.009,5.428,6,Rural à habitat dispersé,0.0,communes non pôle,"Abergementais, Abergementaises",https://fr.wikipedia.org/wiki/fr:L'Abergement-...,https://villedereve.fr/ville/01002-l-abergemen...
2,2,01004,Ambérieu-en-Bugey,Ambérieu-en-Bugey,à Ambérieu-en-Bugey,d'Ambérieu-en-Bugey,amberieu-en-bugey,AMBÉRIEU-EN-BUGEY,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0101,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,10,Lyon,1500.0,"01500, 01501, 01504, 01503, 01502, 01505, 01506",8405.0,01053,01303,Ambérieu-en-Bugey,3.0,UNITE URBAINE,C,14854,2448,24,607.0,379,237.0,753.0,45.958,5.360,45.961,5.373,2,Centres urbains intermédiaires,3.0,centres structurants d'équipements et de services,"Ambarrois, Ambarroises",https://fr.wikipedia.org/wiki/fr:Ambérieu-en-B...,https://villedereve.fr/ville/01004-amberieu-en...
3,3,01005,Ambérieux-en-Dombes,Ambérieux-en-Dombes,à Ambérieux-en-Dombes,d'Ambérieux-en-Dombes,amberieux-en-dombes,AMBÉRIEUX-EN-DOMBES,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0122,Villars-les-Dombes,200042497,CC Dombes Saône Vallée,10,Lyon,1330.0,01330,8434.0,69264,01000,NaN,0.0,HORS UNITE URBAINE,H,1897,1605,16,118.0,290,265.0,302.0,45.996,4.903,45.996,4.912,5,Bourgs ruraux,1.0,centres locaux d'équipements et de services,Ambarrois,https://fr.wikipedia.org/wiki/fr:Ambérieux-en-...,https://villedereve.fr/ville/01005-amberieux-e...
4,4,01006,Ambléon,Ambléon,à Ambléon,d'Ambléon,ambleon,AMBLÉON,COM,commune,84,Auvergne-Rhône-Alpes,01,Ain,0104,Belley,200040350,CC Bugey Sud,10,Lyon,1300.0,01300,8404.0,01034,01000,NaN,0.0,HORS UNITE URBAINE,H,113,602,6,19.0,589,330.0,940.0,45.748,5.601,45.750,5.594,6,Rural à habitat dispersé,0.0,communes non pôle,Ambléonais,https://fr.wikipedia.org/wiki/fr:Ambléon,https://villedereve.fr/ville/01006-ambleon

In [10]:
# Anam]lyse des mixed types
for col in df_ori.columns:
    if df_ori[col].dtype == 'object':
        num_unique_values = df_ori[col].nunique()
        num_total_values = len(df_ori[col])
        if num_unique_values / num_total_values < 0.05:
            print(f"Colonne '{col}' a des mixed types. Nombre de valeurs uniques: {num_unique_values}, Total: {num_total_values}")
            print(df_ori[col].unique())

Colonne 'typecom' a des mixed types. Nombre de valeurs uniques: 1, Total: 34935
['COM']
Colonne 'typecom_texte' a des mixed types. Nombre de valeurs uniques: 1, Total: 34935
['commune']
Colonne 'reg_nom' a des mixed types. Nombre de valeurs uniques: 18, Total: 34935
['Auvergne-Rhône-Alpes' 'Hauts-de-France' "Provence-Alpes-Côte d'Azur"
 'Grand Est' 'Occitanie' 'Normandie' 'Nouvelle-Aquitaine'
 'Centre-Val de Loire' 'Bourgogne-Franche-Comté' 'Bretagne' 'Corse'
 'Pays de la Loire' 'Île-de-France' 'Guadeloupe' 'Martinique' 'Guyane'
 'La Réunion' 'Mayotte']
Colonne 'dep_code' a des mixed types. Nombre de valeurs uniques: 102, Total: 34935
['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '2A' '2B' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41'
 '42' '43' '44' 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62
 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86
 87 88 89 90 91 92 93 94 95 971 972 973 974 976]
Colonne 'dep_nom' a des mixed types. Nombre de valeurs uniques: 101, Total: 34935
['Ain' 'Aisne' 'Allier' 'Alpes-de-Haute-Provence' 'Hautes-Alpes'
 'Alpes-Maritimes' 'Ardèche' 'Ardennes' 'Ariège' 'Aube' 'Aude' 'Aveyron'
 'Bouches-du-Rhône' 'Calvados' 'Cantal' 'Charente' 'Charente-Maritime'
 'Cher' 'Corrèze' "Côte-d'Or" "Côtes-d'Armor" 'Creuse' 'Dordogne' 'Doubs'
 'Drôme' 'Eure' 'Eure-et-Loir' 'Finistère' 'Corse-du-Sud' 'Haute-Corse'
 'Gard' 'Haute-Garonne' 'Gers' 'Gironde' 'Hérault' 'Ille-et-Vilaine'
 'Indre' 'Indre-et-Loire' 'Isère' 'Jura' 'Landes' 'Loir-et-Cher' 'Loire'
 'Haute-Loire' 'Loire-Atlantique' 'Loiret' 'Lot' 'Lot-et-Garonne' 'Lozère'
 'Maine-et-Loire' 'Manche' 'Marne' 'Haute-Marne' 'Mayenne'
 'Meurthe-et-Moselle' 'Meuse' 'Morbihan' 'Moselle' 'Nièvre' 'Nord' 'Oise'
 'Orne' 'Pas-de-Calais' 'Puy-de-Dôme' 'Pyrénées-Atlantiques'
 'Hautes-Pyrénées' 'Pyrénées-Orientales' 'Bas-Rhin' 'Haut-Rhin' 'Rhône'
 'Haute-Saône' 'Saône-et-Loire' 'Sarthe' 'Savoie' 'Haute-Savoie' 'Paris'
 'Seine-Maritime' 'Seine-et-Marne' 'Yvelines' 'Deux-Sèvres' 'Somme' 'Tarn'
 'Tarn-et-Garonne' 'Var' 'Vaucluse' 'Vendée' 'Vienne' 'Haute-Vienne'
 'Vosges' 'Yonne' 'Territoire de Belfort' 'Essonne' 'Hauts-de-Seine'
 'Seine-Saint-Denis' 'Val-de-Marne' "Val-d'Oise" 'Guadeloupe' 'Martinique'
 'Guyane' 'La Réunion' 'Mayotte']
Colonne 'epci_code' a des mixed types. Nombre de valeurs uniques: 1286, Total: 34935
['200069193' '240100883' '200042497' ... 200059871 200060457 200050532]
Colonne 'epci_nom' a des mixed types. Nombre de valeurs uniques: 1254, Total: 34935
['CC de la Dombes' "CC de la Plaine de l'Ain" 'CC Dombes Saône Vallée' ...
 'CC du Centre-Ouest' 'CA de Dembeni / Mamoudzou' 'CC de Petite-Terre']
Colonne 'academie_nom' a des mixed types. Nombre de valeurs uniques: 30, Total: 34935
['Lyon' 'Amiens' 'Clermont-Ferrand' 'Aix-Marseille' 'Nice' 'Grenoble'
 'Reims' 'Toulouse' 'Montpellier' 'Normandie' 'Poitiers' 'Orléans-Tours'
 'Limoges' 'Dijon' 'Rennes' 'Bordeaux' 'Besançon' 'Corse' 'Nantes'
 'Nancy-Metz' 'Lille' 'Strasbourg' 'Paris' 'Créteil' 'Versailles'
 'Guadeloupe' 'Martinique' 'Guyane' 'La Réunion' 'Mayotte']
Colonne 'code_insee_centre_zone_emploi' a des mixed types. Nombre de valeurs uniques: 373, Total: 34935
['01053' '69264' '01034' '74012' '01283' '71270' '69123' '02691' '02722'
 '02408' '59392' '02168' '03310' '03190' '03185' '04070' '04112' '06088'
 '05061' '84035' '06029' '05023' '06083' '43137' '07019' '26198' '26362'
 '38544' '43157' '84019' '51454' '08105' '08409' '09225' '31483' '11069'
 '31555' '10387' '52448' '10323' '11262' '81065' '66136' '12202' '12145'
 '12300' '81004' '13001' '13055' '13056' '13004' '84007' '27467' '14118'
 '14366' '14762' '50502' '61169' '15187' '19275' '15014' '63178' '87154'
 '16015' '16102' '24322' '33243' '17300' '17299' '17415' '17306' '79191'
 '33063' '18033' '58194' '45155' '58086' '36044' '18279' '19272' '19031'
 '87085' '21054' '21231' '21154' '71014' '39198' '89024' '22278' '22093'
 '22050' '22070' '22113' '29024' '56178' '35288' '29151' '23096' '24520'
 '24037' '47323' '25056' '70550' '25388' '25462' '39478' '39300' '84138'
 '26281' '27056' '28134' '27229' '27681' '76540' '61214' '28085' '28088'
 '28280' '45234' '29019' '29233' '29232' '2A004' '2A249' '2A247' '2B123'
 '2B096' '2B050' '2B033' '30189' '34172' '30028' '30007' '32013' '82121'
 '65440' '82033' '33227' '33529' '33240' '47157' '34032' '34003' '34301'
 '35238' '35115' '35360' '35236' '56165' '41194' '37132' '37261' '37072'
 '38053' '38185' '38563' '40192' '40088' '64102' '47001' '64445' '41269'
 '41018' '42218' '42147' '42187' '69243' '63430' '44036' '44109' '49244'
 '44131' '44184' '85047' 85047.0 49244.0 44036.0 44109.0 44184.0 45155.0
 45208.0 45252.0 45234.0 46042.0 46128.0 12300.0 47001.0 47157.0 47323.0
 24037.0 48095.0 30007.0 49328.0 49007.0 49331.0 49099.0 72154.0 72264.0
 50502.0 50147.0 50218.0 50129.0 50025.0 14762.0 61169.0 51108.0 51230.0
 10323.0 52448.0 51454.0 52121.0 53130.0 53147.0 53062.0 61001.0 54395.0
 57463.0 57672.0 57630.0 88413.0 8409.0 55029.0 55545.0 35236.0 56260.0
 56165.0 56007.0 56178.0 56121.0 22093.0 29024.0 29233.0 57606.0 57631.0
 57227.0 58194.0 58086.0 89025.0 71342.0 71014.0 89024.0 59122.0 59606.0
 59392.0 59350.0 59178.0 59183.0 59295.0 59599.0 62119.0 60057.0 2722.0
 60175.0 60159.0 nan 61006.0 28280.0 61214.0 14366.0 62498.0 62041.0
 62108.0 62193.0 62160.0 63113.0 63430.0 63178.0 3185.0 19275.0 3310.0
 64445.0 64422.0 64102.0 40088.0 40192.0 65440.0 31483.0 32013.0 66136.0
 67482.0 67462.0 67180.0 68066.0 68224.0 68297.0 69243.0 69264.0 69123.0
 38544.0 42218.0 70550.0 25056.0 90010.0 21231.0 25388.0 71270.0 71076.0
 39198.0 71153.0 39300.0 21054.0 72181.0 72132.0 73065.0 73011.0 74010.0
 73248.0 38053.0 1034.0 74256.0 74281.0 74012.0 74081.0 75056.0 76758.0
 76217.0 76540.0 76351.0 76255.0 77305.0 77131.0 77288.0 77284.0 77379.0
 77108.0 91228.0 93005.0 78517.0 78586.0 78646.0 95127.0 79049.0 79191.0
 79329.0 86194.0 80001.0 2691.0 80021.0 81065.0 81004.0 31555.0 82121.0
 82033.0 6029.0 83050.0 13001.0 83061.0 83137.0 83023.0 4070.0 83115.0
 4112.0 13055.0 84007.0 84035.0 84031.0 84138.0 84019.0 84087.0 85092.0
 85191.0 85194.0 85146.0 87154.0 86066.0 16015.0 87085.0 23096.0 19272.0
 88160.0 88196.0 89387.0 91223.0 91377.0]
Colonne 'type_commune_unite_urbaine' a des mixed types. Nombre de valeurs uniques: 2, Total: 34935
['HORS UNITE URBAINE' 'UNITE URBAINE' nan]
Colonne 'statut_commune_unite_urbaine' a des mixed types. Nombre de valeurs uniques: 4, Total: 34935
['H' 'C' 'B' 'I' nan]
Colonne 'grille_densite_texte' a des mixed types. Nombre de valeurs uniques: 7, Total: 34935
['Rural à habitat dispersé' 'Centres urbains intermédiaires'
 'Bourgs ruraux' 'Ceintures urbaines' 'Rural à habitat très dispersé'
 'Petites villes' 'Grands centres urbains']
Colonne 'niveau_equipements_services_texte' a des mixed types. Nombre de valeurs uniques: 5, Total: 34935
['communes non pôle' "centres structurants d'équipements et de services"
 "centres locaux d'équipements et de services"
 "centres intermédiaires d'équipements et de services"
 "centres majeurs d'équipements et de services" nan]

In [ ]:
col_to_keep = [
'code_insee',
'nom_standard',
'population',
'superficie_km2',
'densite',
'niveau_equipements_services'
]
df = df_ori[col_to_keep]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34935 entries, 0 to 34934
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code_insee                   34935 non-null  object
 1   nom_standard                 34935 non-null  object
 2   population                   34935 non-null  int64
 3   superficie_km2               34935 non-null  int64
 4   densite                      34932 non-null  float64
 5   niveau_equipements_services  34803 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.6+ MB

In [ ]:
# On a des densites naN qu'il va falloir recalculer
# On a des niveau_equipements_services à nAN qu'il va falloir egalement traiter. Comment ?
df[df['densite'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services
23101,60694,Les Hauts-Talican,0,5,NaN,NaN
32700,85165,L'Oie,0,14,NaN,NaN
32739,85212,Sainte-Florence,0,17,NaN,NaN

In [57]:
# On remplace les densites naN par 0
df.loc[df['densite'].isna(), 'densite'] = 0
df[df['code_insee'] == 60694]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services
23101,60694,Les Hauts-Talican,0,5,0.0,NaN

In [62]:
df['niveau_equipements_services'].unique()

array([ 0.,  3.,  1.,  2.,  4., nan])

In [70]:
pd.set_option('display.max_rows', 10)
# On traite les niveau_equipements_services :
df[df['niveau_equipements_services'].isna()]

,code_insee,nom_standard,population,superficie_km2,densite,niveau_equipements_services
23101,60694,Les Hauts-Talican,0,5,0.0,NaN
32700,85165,L'Oie,0,14,0.0,NaN
32739,85212,Sainte-Florence,0,17,0.0,NaN
34806,97101,Les Abymes,52118,70,744.0,NaN
34807,97102,Anse-Bertrand,4052,64,63.0,NaN
...,...,...,...,...,...,...
34930,97613,M'Tsangamouji,6432,22,298.0,NaN
34931,97614,Ouangani,10203,18,558.0,NaN
34932,97615,Pamandzi,11442,4,2686.0,NaN
34933,97616,Sada,11156,11,1028.0,NaN
34934,97617,Tsingoni,13934,34,407.0,NaN

In [71]:
df.loc[df['niveau_equipements_services'].isna(), 'niveau_equipements_services'] = 2.0

In [72]:
df[df['niveau_equipements_services'].isna()]

Empty DataFrame
Columns: [code_insee, nom_standard, population, superficie_km2, densite, niveau_equipements_services]
Index: []

In [73]:
df.duplicated().sum()

np.int64(0)